# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.backup
*.tfvars.json
crash.log
override.tf

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.pyc

# Env files
.env

# Lambdas build artifacts
*.zip

# IDE / OS files
.vscode/
.DS_Store
Thumbs.db

# Logs
*.log